/* Header Responsive Style */
@media screen and (max-width:572px){
    header{
        padding: 50px 30px;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    /* nav > ul {
        flex-direction: column;
    }
    nav li {
        margin-top: 20px;
    } */
    .title-area {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    /* Main Features Area Style */
    .main {
        width: 95%;
        margin: 50px auto;
    }
    .features-area {
        flex-direction: column;
    }
    .features-img {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .features-text {
        width: 100%;
    }
}