body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
/* Header Style  */
header{
    background-color: #fff4e7;
    padding: 20px 130px 50px 130px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav h3 {
    font-size: 2rem;
    margin-top: 0;
}
nav > ul {
    display: flex;
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: #434343;
    margin-right: 30px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
}
/* Title Area Style  */

.title-area {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.main-title h3 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0;
}
.m-description p {
    font-size: 14px;
    color: #727272;
}
/* Common Button Style  */
button {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 8px;
    border: 2px solid #FF900E;
    font-weight: 600;
    margin-top: 20px;
}
button:hover {
    color: #FF900E;
    background-color: #FFFFFF;
    
    border: 2px solid #FF900E;
}

/* Banner Image Style  */
header img {
    width: 100%;
    margin-top: 40px;
}
/* Main Features Area Style */
.main {
    width: 80%;
    margin: 50px auto;
}
.features-area {
    display: flex;
    align-items: center;
}
.features-img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.features-img img{
    width: 100%;
}
.features-text {
    width: 50%;
    padding-left:50px ;
}
.features-text h3 {
    font-size: 35px;
}
.features-text .gray, p {
    color: #727272;
}
.features-text .orange {
    color: #FF900E;
}
/* Exprience Area Style */
.exprience-area {
    margin: 80px 0; 
    display: flex;
    gap: 60px;
}
.col-1 {
    width: 45%;
}
.col-1 p {
    font-size: 12px;
}

/* Exprience Title Style  */

.exprience-title h3 {
    font-size: 35px;
    margin: 0;
    padding-left: 10px;
    border-left: 5px solid #FF900E;
}
.card-area {
    margin-top: 20px;
}
.card {
     box-shadow: 8px 4px 10px 1px #bababaa1;
     padding: 20px;
     margin-bottom: 10px;
}
.card h4 {
    font-size: 13px;
}

/* Exprience Area Image Style */

.exprience-img-area img {
    width: 100%;
    margin-left: 50px;
}
.ten-yer {
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 40px;
    position: relative;
    bottom: 75px;
    right: 30px;
}
.ten-yer h2 {
    font-size: 30px;
    font-weight: 800;
    margin: 0 ;
}
.ten-yer h5 {
    margin: 0;
}
